NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8000

# Cloudflare Turnstile site key
# Get keys at: https://dash.cloudflare.com/?to=/:account/turnstile
NEXT_PUBLIC_TURNSTILE_SITE_KEY=your_turnstile_site_key
